<div class="assessment-container">
  <h1 class="assessment-title">Avaliação de Competência</h1>

  <div class="assessment-content">
    <p>Chiavenato (2010) define que competências individuais são a fusão do conhecimento, habilidade e atitude que podem ser definidas com o propósito de integrar e convergir em uma determinada tarefa. Ainda afirma que pessoas dotadas de competências, são pessoas dotadas de talentos.</p>

    <p>Neste formulário queremos te conhecer, então solicitamos que selecione 10 cartas (competências) que efetivamente te definam.</p>

    <p><strong>Importante:</strong> Não são as competências que gostaria de ter, mas sim, as que reconhece aplicar em sua função.</p>

    <button *ngIf="assessment" (click)="assessmentButton()" class="assessment-button">Iniciar Avaliação</button>
  </div>
</div>
