.assessment-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to right bottom, #6F00B5, #AA00FF);
  padding: 2rem;
  text-align: center;
  position: relative;
  color: #ffffff;
}

.logo {
  width: 300px;
  height: auto;
  margin-bottom: 2rem;
}

.title-help-section {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.assessment-list-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  margin-bottom: 2rem;
}

.back-button {
  margin-top: -3px;
  background: none;
  border: none;
  font-size: 2rem;
  color: white;
  position: absolute;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.help-container {
  position: relative;
  display: inline-block;
  margin-left: 1rem;
}

.help-button {
  background: none;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.tooltip-card {
  position: absolute;
  top: 50%;
  left: calc(100% + 5px);
  width: 220px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  color: black;
  box-shadow: 0 4px 8px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
  z-index: 1000;
  border: 1px solid #ccc;
  font-size: 14px;
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateY(-50%) scale(0.95);
}

.help-container:hover .tooltip-card {
  opacity: 1;
  display: block;
  transform: translateY(-50%) scale(1);
}

.assessment-table {
  width: 100%;
  max-width: 800px;
  border-collapse: separate;
  border-spacing: 0 1rem;
}

.assessment-table th, .assessment-table td {
  padding: 1rem;
  background: transparent;
  color: white;
}

.assessment-table th {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.assessment-table tr {
  border-radius: 0.5rem;
  transition: background-color 0.3s, color 0.3s;
  background: #542DB0;
  box-shadow: 0 4px 8px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
  margin-bottom: 1rem;
}

.assessment-table tr:hover {
  background: #6F00B5;
}

.assessment-button {
  padding: 0.3rem 1.5rem;
  color: white;
  background: linear-gradient(to right, #6F00B5, #AA00FF);
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  transition: background 0.2s, color 0.2s;
  cursor: pointer;
}

.assessment-button:hover {
  background: linear-gradient(to right, #AA00FF, #6F00B5);
}

@media (max-width: 768px) {
  .logo {
    width: 200px;
  }

  .help-button {
    position: relative;
    z-index: 10;
    display: none;
  }

  .tooltip-card {
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    max-width: 300px;
    text-align: center;
  }

  .title-help-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
  }

  .assessment-list-title {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    margin-right: 0;
  }

  .top-section {
    flex-direction: column;
    align-items: center;
  }


  .help-container {
    margin-top: 1rem;
  }

  .tooltip-card {
    left: 50%;
    transform: translateX(-50%);
    width: 85%;
    top: calc(100% + 10px);
  }

  .assessment-table {
    display: block;
    overflow-x: auto;
  }

  .assessment-table th, .assessment-table td {
    padding: 0.7rem;
  }

  .assessment-table th {
    font-size: 1rem;
  }

  .assessment-button {
    font-size: 0.8rem;
    padding: 0.3rem 1.2rem;
  }
}
