::ng-deep .confirmation-dialog {
    background-color: #fff;
    color: #333;
    padding: 20px;
}

::ng-deep .confirmation-dialog h1 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

::ng-deep .confirmation-dialog p {
    margin-bottom: 15px;
}

::ng-deep .confirmation-dialog .buttons {
    display: flex;
    justify-content: flex-end;
}

::ng-deep button {
    font-size: 1rem;
    border-radius: 0.5rem;
    background-color: #542DB0;
    border-color: #542DB0;
    box-shadow: 2px 2px 2px rgba(84, 45, 176, 0.5);
    transition: all 0.3s ease;
    padding: 0.5rem 1rem;
    border: none;
    color: white;
    margin-right: 1rem;
    cursor: pointer;
     margin: 0 0.5rem;
  }
  
  ::ng-deep button:hover {
    background-color: #6f42c1;
    border-color: #6f42c1;
    transform: translateY(-2px);
  }