<h2 mat-dialog-title>Adicionar Nova Tarefa</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill">
    <mat-label>Título</mat-label>
    <input matInput [(ngModel)]="data.title">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Descrição</mat-label>
    <textarea matInput [(ngModel)]="data.description"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Prazo</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="data.deadline">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-button (click)="onAdd()">Adicionar</button>
</mat-dialog-actions>
