<div class="password-change-container">
  <h2>Alterar Senha</h2>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <label for="newPassword">Nova Senha:</label>
      <input type="password" id="newPassword" formControlName="newPassword" class="input-field">
    </div>
    <div class="input-group">
      <label for="confirmPassword">Confirme a Senha:</label>
      <input type="password" id="confirmPassword" formControlName="confirmPassword" class="input-field">
    </div>
    <button type="submit" class="submit-button">Alterar Senha</button>
  </form>
</div>
