<h2 mat-dialog-title style="color: #542DB0">Novo Usuário</h2>
<perfect-scrollbar>
<div mat-dialog-content>
  <form [formGroup]="createUserForm" (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="form-group">
      <label for="id">E-mail</label>
      <input type="email" id="email" formControlName="email" class="form-control" required />
      <div *ngIf="getControlValidation('email', 'required')" class="text-danger">
        O e-mail é obrigatório.
      </div>
      <div *ngIf="getControlValidation('email', 'email')" class="text-danger">
        Por favor, insira um e-mail válido.
      </div>
    </div>

    <div class="form-group">
      <label for="password">Senha</label>
      <input type="password" id="password" formControlName="password" class="form-control" required />
      <div *ngIf="getControlValidation('password', 'required')" class="text-danger">
        Senha é obrigatória.
      </div>
    </div>
    <div class="form-group">
      <label for="id">ID</label>
      <input type="number" id="id" formControlName="id" class="form-control" required />
      <div *ngIf="getControlValidation('id', 'required')" class="text-danger">
        ID é obrigatório.
      </div>
    </div>

    <div class="form-group">
      <label for="name">Nome Completo</label>
      <input type="text" id="name" formControlName="name" class="form-control" required />
      <div *ngIf="getControlValidation('name', 'required')" class="text-danger">
        Nome é obrigatório.
      </div>
    </div>

    <div class="form-group">
      <label for="department">Departamento</label>
      <select id="department" formControlName="department" class="form-control" required>
        <option *ngFor="let dept of departments" [value]="dept.id">{{dept.name}}</option>
      </select>
      <div *ngIf="getControlValidation('department', 'required')" class="text-danger">
        Departamento é obrigatório.
      </div>
    </div>

    <div class="form-group">
      <label for="role">Cargo</label>
      <select id="role" formControlName="role" class="form-control" required>
        <option *ngFor="let role of roles" [value]="role.id">{{role.title}}</option>
      </select>
      <div *ngIf="getControlValidation('role', 'required')" class="text-danger">
        Cargo é obrigatório.
      </div>
    </div>

    <div class="form-group">
      <label for="manager">Gestor</label>
      <select id="manager" formControlName="manager" class="form-control" required>
        <option value="0">N/A</option>
        <option *ngFor="let manager of managers" [value]="manager.id">{{manager.name}}</option>
      </select>
      <div *ngIf="getControlValidation('manager', 'required')" class="text-danger">
        Gestor é obrigatório.
      </div>
</div>

    <div class="form-group">
      <label for="accessType">Tipo de Acesso</label>
      <div formArrayName="accessType">
        <div *ngFor="let type of accessTypes; let i = index">
          <label>
            <input type="checkbox" [formControlName]="i"> {{type.viewValue}}
          </label>
        </div>


      </div>

      <div class="form-group">
        <label for="needsPasswordChange">Necessita mudar a senha?</label>
        <input type="checkbox" id="needsPasswordChange" formControlName="needsPasswordChange">
      </div>

      <div *ngIf="getControlValidation('accessType', 'required')" class="text-danger">
        Tipo de acesso é obrigatório.
      </div>


    </div>
  </form>
</div>
</perfect-scrollbar>
<div mat-dialog-actions class="buttons-container">
  <button mat-button (click)="onSubmit()">Salvar</button>
  <button mat-button (click)="onCancel()" cdkFocusInitiaWl>Cancelar</button>
</div>

